<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/static/home.css">
    </head>
    <body>
        <nav>Welcome</nav>
        <div>
            Host Event
            <button><a href="host.html">Host Event</a></button>
        </div>
        <table>
            <tr>
                <th>S.no</th>
                <th>Event Name</th>
                <th>Date</th>
                <th>Timing</th>
                <th>Venue</th>
                <th>Seats</th>
                <th>Book</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Abc</td>
                <td>12.3.24</td>
                <td>10-12</td>
                <td>PG Lab</td>
                <td>30</td>
                <td><button><a href="book.html">Book</a></button></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Abc</td>
                <td>12.3.24</td>
                <td>10-12</td>
                <td>PG Lab</td>
                <td>30</td>
                <td><button><a href="book.html">Book</a></button></td>
            </tr>
        </table>
    </body>
</html>