<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/host.css">
</head>
<body>
    <form action="">
        <label for="">Name</label>
        <input type="text" name="" id="">
        <label for="">Email</label>
        <input type="text" name="" id="">
        <label for="">Mobile number</label>
        <input type="text" name="" id="">
        <label for="">Event Name</label>
        <input type="text" name="" id="">
        <label for="">Date</label>
        <input type="text" name="" id="">
        <label for="">Time</label>
        <input type="text" name="" id="">
        <label for="">Venue</label>
        <input type="text" name="" id="">
        <label for="">Seats</label>
        <input type="text" name="" id="">
    </form>
</body>
</html>